body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#test-container {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(35px, 1fr));
  margin: 3rem;
}

.test-char {
  text-align: center;
  font-size: 35px;
  color: gray;
  margin: 2px;
  background-color: lightgray;
  border-radius: 2px;
}

.green {
  color: green;
  background-color: lightgreen;
}

.red {
  color: red;
  background-color: pink;
}
